<header class="main-header">
  <nav class="main-header-nav">
    <ul class="main-header-item-list">
      <li class="main-header-item">
        <a class="<%= path === '/' ? 'active' : '' %>" href="/">My Shop</a>
      </li>
      <li class="main-header-item">
        <a class="<%= path === '/products' ? 'active' : '' %>" href="/products"
          >My Products</a
        >
      </li>
      <li class="main-header-item">
        <a class="<%= path === '/orders' ? 'active' : '' %>" href="/orders"
          >My Orders</a
        >
      </li>
      <li class="main-header-item">
        <a class="<%= path === '/cart' ? 'active' : '' %>" href="/cart"
          >My Cart</a
        >
      </li>
      <li class="main-header-item">
        <a
          class="<%= path === '/add-product' ? 'active' : '' %>"
          href="/admin/add-product"
          >Add Product</a
        >
      </li>
      <li class="main-header-item">
        <a
          class="<%= path === '/admin-product' ? 'active' : '' %>"
          href="/admin/admin-product"
          >Admin Product</a
        >
      </li>
    </ul>
  </nav>
</header>
