<%- include('../includes/top.ejs') %>
<!-- navigation  -->
<%- include('../includes/navigation.ejs')%>
<!-- body  -->
<main>
  <div class="container">
    <% if (notes.length > 0) { %>
    <h1>List of notes!</h1>
    <% for(let note of notes){ %>
    <div class="media">
      <div class="media-left">
        <img class="media-object" src="<%= note.imageUrl %>" alt="..." />
      </div>
      <div class="media-body">
        <h1 class="media-heading"><%= note.title %></h1>
        <p><%= note.description %></p>
        <div class="actions">
          <a href="/note/<%= note.noteId %>" role="button" class="btn">View</a>
          <a
            href="/add-note/<%= note.noteId %>?isEditing=true"
            role="button"
            class="btn"
            >Edit</a
          >
          <form action="/delete-note" method="POST">
            <input type="hidden" name="noteId" value="<%= note.noteId %>" />
            <button class="btn btn-danger">Delete</button>
          </form>
        </div>
      </div>
    </div>
    <% } %> <% } else { %>
    <h1>No data available!</h1>
    <% } %>
  </div>
</main>

<%- include('../includes/bottom.ejs') %>
