<%- include('../includes/top.ejs') %>
  </head>
  <body>
<%- include('../includes/navigation.ejs') %>

    <main class="align-center ">
       <article class="card product-item">
          <div class="card-image">
            <img
              src="<%= product.imageUrl %>"
              alt="Laptop"
            />
          </div>
          <header class="card-header">
            <h1 class="product-title"><%= product.title %></h1>
          </header>

          <div class="card-content">
            <h2 class="product-price">$<%= product.price %></h2>
            <p class="product-description">
              <%= product.description %>
            </p>
          </div>
          <div class="card-actions">
            <form action="/add-to-cart" method="POST">
              <button class="btn">Add to Cart</button>
            </form>

          </div>
        </article>
    </main>
  <%- include('../includes/bottom.ejs') %>

